{% extends 'main.html' %}
{% load bootstrap4 %}
{% block title %}Sitede Ara{% endblock %}

{% block innerpages %}
    <h2>Sitede Ara</h2>

    <form method="get" action=".">
        {% csrf_token %}
        <div>
            {% bootstrap_form form %} 
            {% buttons %}
            <input type="submit" value="Ara" class="btn btn-success">
            {% endbuttons %}
        </div>

        {% if query %}
            <h3>Sonuçlar</h3>

            {% for result in page.object_list %}
                <p>
                {% if result.content_type == 'ngoman.people' %}
                Sığınmacı:
                {% else %}
                    {% if result.content_type == 'ngoman.programmes' %}
                    Program:
                    {% endif %}
                {% endif %}
                <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                </p>
            {% empty %}
                <p>Sonuç bulunamadı.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Önceki{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Sonraki &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% endif %}
    </form>
{% endblock %}
