{% extends 'main.html' %}
{% load bootstrap4 %}

{% block title %}Yeni {{type}}{% endblock %}

{% block innerpages %}
<div class="card ">
    <div class="card-header">
        <h4>{{type}} {% if edit %}değiştir{% else %}ekle{% endif %}</h4>
    </div>
    <div class="card-body">
        <form id="addform" method="POST" role='form'>
            {% csrf_token %}
            {% bootstrap_form myform %}
            {% buttons %}
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-danger" type="cancel" id="addpersoncancel">Cancel</button>
            {% endbuttons %}
        </form>
        <div class="pull-right">
        </div>
    </div>
</div>
<script>
{% if type == 'Sığınmacı' %}
$(document).ready(function() {
    $('#id_town').change(function() {
        var townId = $(this).val();
        $.ajax({
            url: '/ajax/',
            type: 'POST',
            data: {
                'action': 'loadlocality',
                'town': townId,
            },
            success: function(data) {
                $('#id_locality').html(data)
            }
        });

    });

	$("#addpersoncancel").click(function(e) {
		e.preventDefault();
		window.history.back();
	});

	$('#id_arrivaldate').datepicker({
		format: 'dd/mm/yyyy',
		autoclose: 'true',
		todayHighlight: 'true',
	});
	$('#id_regdate').datepicker({
		format: 'dd/mm/yyyy',
		autoclose: 'true',
		todayHighlight: 'true',
	});

	$('#id_birthdate').datepicker({
		format: 'dd/mm/yyyy',
		autoclose: 'true',
		todayHighlight: 'true',
		changeMonth: true,
		changeYear: true
	});
});

{% endif %}
</script>
{% endblock %}
