{% extends 'main.html' %}

{% block title %}{{prog.pname}} için yoklama {% endblock %}

{% block innerpages %}
<h3>{% now "Y/m/d" %} {{prog.pname}} programı için yoklama</h3>
<table class="table" id="ptable">
    <thead><tr><th>Kisi</th><th><span class="switch switch-sm"><input type="checkbox" class="switch" id="selectall"><label for="selectall">All</label></span></th><th class="d-none">id</th></tr></thead>
    <tbody>
        {% for i in people %}
        <tr>
            <td>{{i.0}}</td>
            <td>
                <span class="switch switch-sm">
                    <input type="checkbox" class="switch" id="switch-{{i.0}}" {% ifequal i.1 "t" %} checked {% endifequal %}>
                    <label for="switch-{{i.0}}">{% ifequal i.1 "t" %}Var{% else %}Yok{% endifequal %}</label>
                </span>
            </td>
            <td class="d-none">{{i.2}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p></p>
<div class="row justify-content-end position-fixed" style="bottom:1px; right: 10em;">
    <div class="col-2">
        <div class="btn-group mx-auto" role="group">
            <button class="btn btn-danger" id="attcancel">Geri git</button>
            <button class="btn btn-success" id="attsave">Kaydet</button>
        </div>
    </div>
</div>

<script>
$('#attcancel').click(function() {
    document.location.href = '/prog/';
});

$('input.switch').change(function() {
    if (this.id == 'selectall') {
        if ($(this).attr('checked') == '') {
            $('input.switch').attr('checked','checked');
        } else {
            $('input.switch').attr('checked','');
        }
        return;
    }

    if ($(this).siblings(0).text() == 'Var') {
        $(this).siblings(0).text('Yok');
    } else {
        $(this).next().text('Var');
    }
});

$('#attsave').click(function() {
    var attarr = {};
    var tmparr = {};
    $('#ptable tbody').find('tr').each(function (i, el) {
        var tds = $(this).find('td'),
        att = tds.eq(1).find('input').prop("checked");
        if (att == false) {
            attstr = 'f';
        } else {
            attstr = 't';
        }
        pid = tds.eq(2).text();
        if (pid != '') {
            tmparr[pid] = attstr;
        }
    });

    attarr['data'] = tmparr;
    attarr['action'] = 'recordatt';
    attarr['prog'] = {{prog.id}};

    var jsonData = JSON.stringify(attarr);


    $.ajax({
        url: '/ajax/',
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: jsonData,
        success: function(data) {
            if (data.result == 0) {
                toastr.success(data.msg);
            }
        }

    });
});
</script>
{% endblock %}
