{% extends 'main.html' %}

{% block title %}Dashboard{% endblock %}

{% block innerpages %}
<div class="container">
    <br>
        <!--
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        -->
    <div class="card-deck">
        <div class="card">
            <div class="card-header bg-success text-light">
                <h4>Toplamlar</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Kayıtlı sığınmacılar <span class="badge badge-pill badge-secondary">{{pcountall}}</span></li>
                    <li class="list-group-item">Aktif sığınmacılar <span class="badge badge-pill badge-secondary">{{pcountactive}}</span></li>
                    <li class="list-group-item">Program sayısı <span class="badge badge-pill badge-secondary">{{prcountall}}</span></li>
                    <li class="list-group-item">Aktif programlar <span class="badge badge-pill badge-secondary">{{practive}}</span></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-warning text-light">
                <h4>Ortalamalar</h4>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ortalama yetişkin yaşı <span class="badge badge-pill badge-secondary">{{avgadultage}}</span></li>
                    <li class="list-group-item">Ortalama çocuk yaşı <span class="badge badge-pill badge-secondary">{{avgchildage}}</span></li>
                    <li class="list-group-item">Veli başına çocuk sayısı <span class="badge badge-pill badge-secondary">{{childpadult}}</span></li>
                </ul>
            </div>
        </div>
        <div class="card card-success">
            <div class="card-header">
                <h4>Hızlı Yoklama</h4>
            </div>
            <div class="card-body">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" id='attform' name='attform'>
                            <option value="0">Seçiniz</option>
                        {% for i in progs %}
                        <option value="{{i.id}}">{{i.pname}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <button id="attd" class="btn btn-primary ml-2">Yoklama al</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('#attd').click(function(e) {
    e.preventDefault();

    attval = $('#attform').val();
    if (attval != 0) {
        document.location.href= '/attendance/' + attval + '/';
    } else {
        toastr.error('Bir program seçiniz');
    }
});
</script>
{% endblock %}
