{% extends 'main.html' %}
{% load bootstrap4 %}

{% block title %}Manage Documents{% endblock %}

{% block innerpages %}
<div class="modal fade" id="adddoc" tabindex="-1" role="dialog" aria-labelledby="adddoc">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addNewLabel">{{myname}} için belge yükleme<b id='psubpname'></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form method="POST" role='form' id="uploadform" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form myform %}
                </form>
            </div>
            <div class="modal-footer">
                {% buttons %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button class="btn btn-success" id="uploaddoc">Yükle</button>
                {% endbuttons %}
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4><i>{{myname}}</i> icin belgeler</h4>
    </div>
    <div class="card-body">
        <button type="submit" id="newdoc" class="btn btn-success">Yeni belge ekle</button>
        <p></p>
        <table class="table table-condensed" id="doctable">
            <thead><th>Dosya</th><th>Yükleme Tarihi</th><th>Dosya Tipi</th><th>Açıklama</th><th>İşlemler</th><th>id</th></thead>
            <tbody>
            {% for i in mydocs %}
            <tr><td><a href="/{{i.filename}}" target="_blank">{{ i.get_filename }}</a></td><td>{{i.uploaddate|date:"Y-m-d H:i:s"}}</td><td>{{i.doctype.dtname}}</td><td>{{i.description}}</td><td><div class="btn-group" role="group" ><button class="btn btn-sm btn-warning edit text-light"><i class="fas fa-edit"></i></button><button class="btn btn-sm btn-danger delete"><i class="far fa-trash-alt"></i></button></div></td><td>{{i.id}}</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <p></p>
    </div>
</div>
<script>

$(document).ready(function() {
{% if edit %}
    $('#adddoc').modal('show');
{% endif %}

{% if request.GET.adddocs == 'true' %}
    toastr.success('Operation Successful');
{% else %}
    {% if request.GET.adddocs == 'false' %}
        toastr.success('Islem Basarisiz');
    {% endif %}
{% endif %}
});

var doctable = $('#doctable').DataTable({
    "searching": false,
    "paging": false,
    "info": false,
    "columnDefs": [{
        "targets": 4,
        "orderable": false,
    },
    {
        "targets": 3,
        "orderable": false,
    },
    {
        "targets": 5,
        "orderable": false,
        "visible": false
    }],
});
$('#doctable tbody').on('click', 'button', function() {
    var myparent = $(this).parents('tr');
    var rowData = doctable.row(myparent).data();
    if ($(this).hasClass('edit')) {
        $('#adddoc').modal('show');
        var tmpval = $('#id_doctype option').filter(function () { return $(this).html() == rowData[2]; }).val();
        $('#id_doctype').val(tmpval);
        $('#id_description').val(rowData[3]);
        $('#id_myid').val(rowData[5]);
        $('#id_filename').prop('required', false);
    } else if ($(this).hasClass('delete')) {
        $.ajax({
            url: '/ajax/',
            type: 'POST',
            data: { action: 'deletedoc', 'docid': rowData[5] },
            success: function(data) {
                if (data.result == 0) {
                    toastr.success('Dokuman silindi');
                    doctable.row(myparent).remove().draw();
                } else {
                    toastr.error('Hata olustu');
                }
            },
            error: function() {
                toastr.error('Hata olustu');
            }
        });
    }
});

$('#newdoc').click(function() {
    $('#id_myid').val('');
    $('#id_filename').prop('required', true);
    $('#adddoc').modal('show');
});

$('#uploaddoc').click(function() {
    $('#uploadform').submit();
});
</script>
{% endblock %}
