{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="col-sm-8 col-md-8 offset-md-2 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form method="post" role='form'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-success" type="submit">Login</button>
                {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
