{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="{% static '/images/smalllogo.png' %}" height=30 width=30></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/people/">Sığınmacılar</a></li>
				<li class="nav-item"><a class="nav-link" href="/prog/">Programlar</a></li>
				<li class="nav-item"><a class="nav-link" href="/reports/">Raporlar</a></li>
                {% if request.user.is_superuser %}
				<li class="nav-item"><a class="nav-link" href="/ngoadmin/">Yönetim</a></li>
                {% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> {{ request.user}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/changepass/">Şifre Değiştir</a>
                        <a class="dropdown-item" href="/logout/">Çıkış</a>
                    </div>
                </li>
			</ul>
			<form class="form-inline my-2 my-lg-0 navbar-right">
				<input type="text" class="form-control mr-1" id="searchbox" placeholder="Sitede Ara">  
                <button class="btn btn-outline-success" id="searchbtn"><i class="fas fa-search"></i></button>
			</form>
		</div><!-- /.navbar-collapse -->
</nav>
<script>
$('#searchbtn').click(function(e) {
    e.preventDefault();
    var query = $('#searchbox').val();
    document.location.href = "/search/?q=" + query;
});
</script>
<div class="container">
    {% block innerpages %}
    {% endblock %}
</div>
{% endblock %}
