{% extends 'main.html' %}

{% block title %}Geriye Dönük Yoklama{% endblock %}

{% block innerpages %}
<div class="card">
    <div class="card-header">
        <h4>{{person.fullname}} için geriye dönük yoklama</h4>
    </div>
    <div class="card-body text-center">
        <form method="POST" class="form-inline" id="myform">
            {% csrf_token %}
            <div class="form-group mr-5">
                <label for="progs">Program:</label>
                <select class='form-control' id='progs' name="progs">
                    <option value='0'>Seçiniz</option>{% for i in person.programmes.all %}{% if i.active == True %}<option value="{{i.id}}">{{i.pname}}</option>{% endif %}{% endfor %}
                </select>
            </div>
            <label for="dates">Tarih:</label>
            <div class="input-group">
                <input type="text" id="dates" class="form-control" name="dates">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger" id='cancel'>Geri Dön</button>
        <button class="btn btn-success" id="takeatt">Yoklama al</button>
        </form>
    </div>
</div>
<script>
{% if status == 'created' %}
    toastr.success('Yoklama başarılı!');
{% else %}
    {% if status == 'present' %}
        toastr.error('Yoklama kaydı hali hazırda mevcuttur.');
    {% endif %}
{% endif %}
$('#dates').datepicker({
    format: 'yyyy-mm-dd',
    autoclose: 'true',
    endDate: '0d',
    todayHighlight: 'true',
});

$('#cancel').click(function(e) {
    e.preventDefault();
    document.location.href='/people/';
});
</script>
{% endblock %}
