{% extends 'main.html' %}
{% load bootstrap4 %}

{% block title %}Yönetim{% endblock %}
{% block innerpages %}
{% if request.user.is_superuser %}
<div class="modal fade" id="confirm-persondel" tabindex="-1" role="dialog" aria-labelledby="confirm-persondel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Lütfen onaylayın</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="persondelcontent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <button class="btn btn-danger" id="persondeletebtnconfirm">Sil</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="doctdelete" tabindex="-1" role="dialog" aria-labelledby="doctdelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <button class="btn btn-danger" id="docdeletebtn">Sil</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="doctmodal" tabindex="-1" role="dialog" aria-labelledby="doctmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Belge tipi ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="dtname">Belge adı</label>
                        <input type="text" id="dtname" name="dtname" class="form-control">
                    </div>
                    <input type="hidden" class="docid" name="docid" id="olddtname">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button class="btn btn-success" id="savedoct">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deldoctmodal" tabindex="-1" role="dialog" aria-labelledby="deldoctmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Emin misin?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Silmek istediğinize emin misiniz?
                <input type="hidden" class="docid" name="docid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button class="btn btn-danger" id="deletedoct">Sil</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addfdocsmodal" tabindex="-1" role="dialog" aria-labelledby="addfdocsmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni vakıf belgesi ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="addorgdocform" method="POST" role='form' enctype="multipart/form-data">
                    <input type="hidden" name="action" value="orgdocupload">
                {% csrf_token %}
                {% bootstrap_form orgdocf %}
                </form>
            </div>
            <div class="modal-footer">
                {% buttons %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button class="btn btn-success" id="addorgdoc">Ekle</button>
                {% endbuttons %}
            </div>
        </div>
    </div>
</div>
<p></p>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item"><a class="nav-link active" href="#doctype" aria-controls="doctype" role="tab" data-toggle="tab">Belge tipleri</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#foundationdocs" aria-controls="foundationdocs" role="tab" data-toggle="tab">Vakıf Belgeleri</a></li>
    <li role="presentation" class="nav-item"><a href="#users" class="nav-link" aria-controls="users" role="tab" data-toggle="tab">Kullanıcılar</a></li>
    <li role="presentation" class="nav-item"><a href="#delperson" class="nav-link" aria-controls="users" role="tab" data-toggle="tab">Sığınmacı Sil</a></li>
    <li role="presentation" class="nav-item"><a href="#logs" class="nav-link" aria-controls="logs" role="tab" data-toggle="tab">Loglar</a></li>
    <!--
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    -->
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="doctype">
        <p></p>
        <div class="col-sm-4">
            <button class="btn btn-success" id="adddoctype">Yeni ekle <i class="fas fa-plus"></i></button>
        </div>
        <div class="row"></div>
        <p></p>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead><th>Belge adı</th><th>İşlemler</th></thead>
                <tbody>
                {% for dt in doctype %}
                <tr><td>{{dt}}</td>
                    <td>
                        <div class='btn-group btn-group-sm' role='group'>
                            <button type='button' class='btn btn-warning dtedit'><i class="far fa-edit text-light"></i></button>
                            <button class="btn btn-danger dtdelete">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
      <div role="tabpanel" class="tab-pane" id="foundationdocs">
          <p></P>
          <div class="col-sm-4">
            <button class="btn btn-success" id="addfdocs">Yeni ekle <i class="fas fa-plus"></i></button>
          </div>
          <p></p>
          <div class="row">
              <p></p>
              <div class="table-responsive">
                  <table class="table" id="orgdocstable">
                    <thead><th>Dosya</th><th>Yükleme Tarihi</th><th>Açıklama</th><th>İşlemler</th><th>id</th></thead>
                  </table>
              </div>
          </div>
      </div>

    <div role="tabpanel" class="tab-pane" id="users">
        <p></p>
        <div class="col-sm-4">
            <button class="btn btn-success" id="adduserbtn">Yeni ekle <i class="fas fa-plus"></i></button>
        </div>
        <div class="row"></div>
        <p></p>
        <div class="table-responsive">
            <table class="table table-striped" id="usertable">
                <thead><th>Username</th><th>E-mail</th><th>Admin status</th><th>Last login</th><th>Actions</th><th>id</th></thead>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="delperson">
        <p></p>
        <div class="col-sm-4">
            <form method="POST" id="persondelform">
                {% csrf_token %}
                <div class="form-group">
                    <label for="delperson">Sığınmacı</label>
                    <select class="form-control" name="delperson" id="delpersonsel">
                        <option value="0">Seçiniz</option>
                        {% for i in person %}
                            <option value="{{i.id}}">{{i.fullname}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <button class="btn btn-danger" id="delpersonmainbtn">Sil</button>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
    <div role="tabpanel" class="tab-pane" id="logs">
        <p></p>
        <div class="table-responsive">
        <table class="table table-striped" id="logtable">
            <thead><th>Username</th><th>Event</th><th>IP</th><th>Event Time</th></thead>
        </table>
        </div>
    </div>
  </div>
</div>
<script>
var orgDocTableCallback = function() {
    orgdocstable.column(0).nodes().each(function (cell, i) {
        var file = orgdocstable.cell(i,0).node();
        var tmptext = $(file).text();
        $(file).html('<a href="/static/orgdocs/' + tmptext + '" target=_blank>' + tmptext + '</a>');
    });
}

var orgdocstable = $('#orgdocstable').DataTable({
    "autoWidth": false,
    "ajax": {
        "url": '/ajax/',
        "type": "POST",
        "data": {
            "action" : "orgdoclist",
        }
    },
    "columns": [
        { data: 'filename' },
        { data: 'udate' },
        { data: 'desc' },
        { data: null },
        { data: 'id' }
    ],
    "columnDefs": [{
        "targets": 4,
        "visible": false,
    },
    {
        "targets": 3,
        "orderable": false,
        "defaultContent": "<div class='btn-group btn-group-sm' role='group'><button type='button' class='btn btn-warning orgdocedit'><i class='fas fa-edit'></i></button><button class='btn btn-danger orgdocdelete'><i class='far fa-trash-alt'></i></button></div>"
    }],
    "order" : [[1 , "desc" ]],
    "initComplete": orgDocTableCallback,
});

$('#addfdocs').click(function() {
    $('#id_filename').prop('required', true);
    $('#id_myid').val('');
    $('#id_description').val('');
    $('#addfdocsmodal').modal('show');
});

$('#adddoctype').click(function() {
    $('#dtname').val('');
    $('#olddtname').val('');
    $('#doctmodal').modal('show');
});

$(document).ready(function() {
    $('#orgdocstable tbody').on('click', 'button', function() {
        var myparent = $(this).parents('tr');
        var rowData = orgdocstable.row(myparent).data();
        if ($(this).hasClass('orgdocedit')) {
            $('#id_filename').prop('required', false);
            $('#id_myid').val(rowData['id']);
            $('#id_description').val(rowData['desc']);
            $('#addfdocsmodal').modal('show');
        } else if ($(this).hasClass('orgdocdelete')) {
            $.ajax({
                "url": "/ajax/",
                "type": "POST",
                "data": { "action": "delorgdoc", "id": rowData['id'] },
                "success": function(data) {
                    if (data.result == 0) {
                        toastr.success(rowData['filename'] + ' silindi!');
                        orgdocstable.ajax.reload(orgDocTableCallback);
                    } else {
                        toastr.error('Belge silinemedi');
                    }
                }
            });
        }
    });

    {% if msg != '' %}
    toastr.success({{msg}});
    {% endif %}

    $('#usertable tbody').on('click', 'button', function() {
        var myparent = $(this).parents('tr');
        var rowData = users.row(myparent).data();
        if ($(this).hasClass('userdelete')) {
            var myname = rowData['username'];
            $('#doctdelete .modal-header').text(myname + ' isimli kullanici silinecektir');
            $('#doctdelete .modal-body').html(myname + " isimli kullanıcıyı silmek istediğinize emin misiniz?<input type='hidden' id='userid' name='userid'>");
            $('#doctdelete').modal('show');
            $('#userid').val(rowData['id']);
        } else if ($(this).hasClass('upasschng')) {
            document.location.href = '/changepass/' + rowData['id'] + '/';
        } else if ($(this).hasClass('useredit')) {
            document.location.href = '/adduser/' + rowData['id'] + '/';
        }
    }); 
});

$('#delpersonmainbtn').click(function() {
    if ($('#delpersonsel').val() == '0') {
        toastr.error('Lütfen bir sığınmacı seçiniz!');
    } else {
        $('#confirm-persondel').modal('show');
        pname = $('#delpersonsel option:selected').text();
        $('#persondelcontent').text(pname + ' isimli sığınmacıyı silmek istediğinize emin misiniz?');
    }
});

$('#persondeletebtnconfirm').click(function() {
    $('#persondelform').submit();
});

$('.dtdelete').click(function(){
    var myname = $(this).parent().parent().siblings(0).text();
    $('#doctdelete .modal-header').text(myname + ' isimli döküman tipi silinecektir');
    $('#doctdelete').modal('show');
    $('#doctdelete .modal-body').html("Bu belge tipini silince onunla ilgili tüm kayıtlar da silinecektir.<input type='hidden' id='doctname' name='doctname'>");
    $('#doctname').val(myname);
});

$('#docdeletebtn').click(function(){
    $('#doctdelete .modal-header').text('');
    var mydoct = $('#doctname').val();
    var userid = $('#userid').val();
    if (userid == null) {
        var aaction = 'deletedoct';
        var itemval = mydoct;
    } else {
        var aaction = 'deleteuser';
        var itemval = userid
    }
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { action: aaction, item: itemval},
        success: function(data) {
            if (data.result == 0) {
                toastr.success(data.msg);
            } else {
                toastr.error(data.msg);
            }
        },
        error: function(data) {
            toastr.error('Hata!');
        }
    });
    $('#doctdelete').modal('hide');
});

$('.dtedit').click(function() {
    var myname = $(this).parent().parent().siblings(0).text();
    $('#dtname').val(myname);
    $('#olddtname').val(myname);
    $('#doctmodal').modal('show');
});

$('#adduserbtn').click(function() {
    document.location.href = '/adduser/';
});

$('#savedoct').click(function() {
    var dtname = $('#dtname').val();
    var olddtname = $('#olddtname').val();
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { action: 'adddoctype', 'dtname': dtname , 'olddtname': olddtname},
        success: function(data) {
            if (data.result == 0) {
                $('#doctmodal').modal('hide');
                toastr.success(data.msg, '', {onHidden: function() { location.reload(); }});
            } else {
                toastr.error('Error saving Document type');
            }
        },
        error: function() {
            toastr.error('Error saving Document type');
        }
    });
});

var logs = $('#logtable').DataTable({
    "autoWidth": false,
    "ajax": {
        "url" : '/ajax/',
        "type": "POST",
        "data": { action: 'loglist' },
    },
    "columns": [
        { data: 'user' },
        { data: 'event' },
        { data: 'ip' },
        { data: 'eventtime' },
    ],
    "columnDefs": [{
        "targets": 1,
        "orderable": false,
    }],
    "order": [[ 3, 'desc' ]],
});

var utableCallback = function() {
    users.column(0).nodes().each(function(cell, i) {
        var username = users.cell(i, 0).data();
        var dbutton = users.cell(i, 4).node();
        var adminst = users.cell(i, 2);
        if (username == 'admin') {
            var curbtn = $(dbutton).find('button.userdelete');
            $(curbtn).attr('disabled', 'true');
        }

        if (adminst.data() == true ) {
            $(adminst.node()).html('<i class="fas fa-check text-success"></i>');
        } else {
            $(adminst.node()).html('<i class="fas fa-times text-danger"></i>');
        }
    });
}

var users = $('#usertable').DataTable({
    "autoWidth": false,
    "ajax": {
        "url" : '/ajax/',
        "type": "POST",
        "data": { action: 'userlist' },
    },
    "columns": [
        { data: 'username' },
        { data: 'email' },
        { data: 'admin' },
        { data: 'lastlogin' },
        { data: null },
        { data: 'id' },
    ],
    "columnDefs": [{
        "targets": 4,
        "orderable": false,
        "data": null,
        "defaultContent": "<div class='btn-group btn-group-sm' role='group'><button type='button' class='btn btn-warning useredit'><i class='far fa-edit text-light'></i></button><button class='btn userdelete btn-danger'><i class='far fa-trash-alt'></i></button><button class='btn btn-primary upasschng'><i class='fas fa-key'></i></button></div>"
    },
    {
        "targets": 5,
        "visible": false,
    }],
    "initComplete": utableCallback
});

$('#addorgdoc').click(function() {
    $('#addorgdocform').submit();
});
</script>
{% endif %}
{% endblock %}
