{% extends 'main.html' %}
{% block title %}Sığınmacılar{% endblock %}

{% block innerpages %}
<div class="container">
    <p></p>
    <div class="form-row">
        {% if request.user.is_superuser %}
        <div class="col">
            <button class="btn btn-success" id="addnewp">Yeni kişi <i class="fas fa-plus"></i></button>
        </div>
        {% endif %}
        <div class="col">
        <div class="form-group float-right">
            <!--
            <input class="form-check-input" type="checkbox" id="showarchived">
            -->
            <select class="form-control" id="archivedselection" name="archivedselection">
                <option value='A'>Aktif</option>
                <option value='D'>Deaktif(arşivlenmiş)</option>
                <option value="W">Beklemede</option>
                <option value="H">Askıda</option>
                <option value='T'>Tüm</option>
            </select>
            <label class="" for="showarchived"> kişileri göster</label>
        </div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="table-responsive">
            <table id='people' class='table table-striped'>
                <thead>
                    <tr><th>Ad</th><th>Soyad</th><th>Yaş</th><th>Kimlik No</th><th>Çocuk</th><th>id</th><th>Active</th><th>İşlemler</th></tr>
                </thead>
            </table>
        </div>
    </div>
    <p></p>
    <div class="row">
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#legend" aria-expanded="false" aria-controls="legend">Semboller <i class="fas fa-chevron-down"></i></a>
    </div>
    <p></p>
    <div class="row">
        <div class="collapse" id="legend">
            <ul class='list-group list-group-flush'>
                {% if request.user.is_superuser %}
                <li class='list-group-item'><button class='btn btn-warning'><i class="fas fa-edit"></i></button> Değiştir</li>
                <li class='list-group-item'><button class='btn btn-info'><i class="far fa-file"></i></button> Belge İşlemleri</li>
                {% endif %}
                <li class='list-group-item'><button class='btn btn-primary'><i class="fas fa-info-circle"></i></button> Kişi Kartı</li>
                <li class='list-group-item'><button class='btn btn-success'><i class="far fa-hand-paper"></i></button> Yoklama Al</li>
                <li class='list-group-item bg-danger'>Kişi adı kırmızı ise deaktif</li>
                <li class='list-group-item bg-warning'>Kişi adı sarı ise beklemede</li>
                <li class='list-group-item bg-success'>Kişi adı yeşil ise askıda</li>
            </ul>
        </div>
    </div>
</div>

<script>
{% if request.GET.adduser == 'true' %}
$(document).ready(function() {
    toastr.success('İşlem başarılı!');
});
{% endif %}
// change buttons to activate or deactivate the person
var tableCallback = function() {
    people.column(0).nodes().each(function (cell, i) {
        var mycell = people.cell(i, 6).data();
        var mynode = people.cell(i, 7).node();
        var myname = people.cell(i, 0).node();
        var mycountry = people.cell(i, 2).node();
        var mysname = people.cell(i, 1).node();
        var attbtn = $(mynode).find('button.takemanatt');

        $(myname).attr('class','');
        $(mysname).attr('class','');
        if (mycell == 'A') {
            $(attbtn).attr('disabled', false);
        } else if (mycell == 'D') {
            $(myname).attr('class','table-danger');
            $(mysname).attr('class','table-danger');
            $(attbtn).attr('disabled', true);
        } else if (mycell == 'W') {
            $(myname).attr('class','table-warning');
            $(mysname).attr('class','table-warning');
            $(attbtn).attr('disabled', true);
        } else if (mycell == 'H') {
            $(myname).attr('class','table-success');
            $(mysname).attr('class','table-success');
            $(attbtn).attr('disabled', true);
        }
    });
};

{% if request.user.is_superuser %}
// Add people
$('#addnewp').click(function(){
    document.location.href = '/addperson/';
});
{% endif %}

function dtAjaxCallback(data) 
{
    data.action = 'peoplelist';
    data.archived = $('#archivedselection').val();
    return data;
}


var people = $('#people').DataTable({
    language : {
        url: getLanguage(),
    },
    "autoWidth": false,
    "ajax": {
        "url" :'/ajax/',
        "type": "POST",
        "data": function(data) { 
            data = dtAjaxCallback(data);
        }
    },
    "columns": [
        { data: 'fname' },
        { data: 'sname' },
		{ data: 'age' },
        { data: 'idnum' },
        { data: 'children' },
        { data: 'id' },
        { data: 'active' },
        { data: null }
    ],
    "columnDefs": [{
        "targets": 7,
        "orderable": false,
        "data": null,
        {% if request.user.is_superuser %}
        "defaultContent": "<div class='btn-group btn-group-sm' role='group'><button type='button' class='btn btn-warning edit'><i class='fas fa-edit'></i></button><button class='btn btn-info persondocs'><i class='far fa-file'></i></button><button class='btn btn-primary info'><i class='fas fa-info-circle'></i></button><button class='btn btn-success takemanatt'><i class='far fa-hand-paper'></i></button></div>"
        {% else %}
        "defaultContent": "<button class='btn btn-primary info'><i class='fas fa-info-circle'></i></button><button class='btn btn-success takemanatt'><i class='far fa-hand-paper'></i></button></div>"
        {% endif %}
    },
    {
        "targets": 6,
        "orderable": false,
        "visible": false,
    },
    { 
        "targets": 5,
        "orderable": false,
        "visible": false
    }],
    "initComplete": tableCallback
});

// Archive (deactivate) or edit people
$('#people tbody').on('click', 'button', function() {
    var myparent = $(this).parents('tr');
    var rowData = people.row(myparent).data();
    if ($(this).hasClass('archive')) {
        if ($(this).hasClass('btn-danger')) {
            var myarchive = 'D';
            var mymsg = ' deactivated';
        } else {
            var myarchive = 'A';
            var mymsg = ' activated';
        }

        $.ajax({
            "url" : "/ajax/",
            "type": "POST",
            "data": { "action": "personarchive", "id": rowData['id'], "archive": myarchive },
            "success": function(data) {
                if (data.result == 0) {
                    toastr.success(rowData['pname'] + ' ' + mymsg);
                    people.ajax.reload(tableCallback);
                } else {
                    toastr.error('Error!');
                }
            }
        });
    } else if ($(this).hasClass('edit')) {
        document.location.href =  '/addperson/' + rowData['id'] + '/';
    } else if ($(this).hasClass('info')) {
        document.location.href =  '/viewperson/' + rowData['id'] + '/';
    } else if ($(this).hasClass('persondocs')) {
        document.location.href =  '/docs/' + rowData['id'] + '/';
    } else if ($(this).hasClass('takemanatt')) {
        document.location.href =  '/manatt/' + rowData['id'] + '/';
    }
});

$('#archivedselection').change(function(e) {
    people.ajax.reload(tableCallback);
});

/*
$('#showarchived').change(function() {
    if (this.checked) {
        $('#hiddeninput').val(1);
    } else {
        $('#hiddeninput').val(0);
    }
    people.ajax.reload(tableCallback);
});
*/

{% if request.GET.q %}
$(document).ready(function() {
    people.search("{{ request.GET.q }}").draw();
});
{% endif %}
</script>
{% endblock %}
