{% extends 'main.html' %}
{% block title %}Programlar{% endblock %}

{% block innerpages %}
<div class="modal fade" id="addpeoplemod" tabindex="-1" role="dialog" aria-labelledby="addpeoplemod">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addpeopleselect">Kisiler</label>
                    <select class="form-control" name="addpeopleselect" id="addpeopleselect" multiple></select>
                    <input type="hidden" name='progid' id='addpeopleprogid'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" id="addpeoplebtn">Ekle</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="progpeople" tabindex="-1" role="dialog" aria-labelledby="progpeople">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bu programdaki Kisiler</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="progpeoplediv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addNewLabel">Yeni program ekle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="pname">Program Adı</label>
                        <input type="text" id="pname" name="pname" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="distprod">Dağıtılan Ürün</label>
                        <input type="text" id="distprod" name="distprod" class="form-control">
                    </div>
                    <div class="checkbox">
                        <label class="checkbox-inline">
                        <input type="checkbox" id="pactive" name="pactive" checked="checked">
                        Aktif
                    </label>
                    </div>
                    <input type="hidden" id="progid" name="progid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button class="btn btn-success" id="saveprog">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p></p>
    {% if request.user.is_superuser %}
    <div class="row">
        <button class="btn btn-success" id="addnewprog">Yeni ekle <i class="fas fa-plus"></i></button>
    </div>
    {% endif %}
    <p></p>
    <div class="row">
        <div class="table-responsive">
            <table id="progs" class="table table-striped">
                <thead>
                    <tr><th>İsim</th><th>Kişi Sayısı</th><th>Aktif</th><th>id</th><th>Urun</th><th>İşlemler</th></tr>
                </thead>
            </table>
        </div>
    </div>
    <p></p>
    <div class="row">
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#legend" aria-expanded="false" aria-controls="legend">Semboller <i class="fas fa-chevron-down"></i></a>
    </div>
        <p></p>
    <div class="row">
        <div class="collapse" id="legend">
            <ul class='list-group list-group-flush'>
                <li class='list-group-item'><button class='btn btn-danger'><i class="far fa-times-circle"></i></button> <button class='btn btn-success'><i class="fas fa-check-circle"></i></button> Deaktive/Aktive et</li>
                {% if request.user.is_superuser %}
                <li class='list-group-item'><button class='btn btn-warning'><i class="fas fa-edit"></i></span></button> Değiştir</li>
                <li class='list-group-item'><button class='btn btn-info'><i class="fas fa-plus"></i></button> Kişi Ekle</li>
                {% endif %}
                <li class='list-group-item'><button class='btn btn-primary'><i class="fas fa-eye"></i></button> Programa Ait Kişileri Gör</li>
                <li class='list-group-item'><button class='btn btn-success'><i class="far fa-hand-paper"></i></button> Yoklama Al (Bugün için)</li>
            </ul>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#addpeopleselect').select2({
        tags: true,
    });
});

var tableCallback = function() {
    progs.column(0).nodes().each(function (cell, i) {
        var prognode = progs.cell(i, 0).node();
        var countnode = progs.cell(i, 1).node();
        var btnnode = progs.cell(i, 5).node();
        var mystatus = progs.cell(i, 2).data();
        var curbtn = $(btnnode).find('button.activate');
        var attbtn = $(btnnode).find('button.takeatt');
        var peoplebtn = $(btnnode).find('button.addpeople');

        if (mystatus == true) {
            $(curbtn).children('i.fa-check-circle').hide();
            $(curbtn).children('i.fa-times-circle').show();
            $(curbtn).removeClass('btn-success');
            $(curbtn).addClass('btn-danger');
            $(countnode).children('span').removeClass('label-danger');
            $(countnode).children('span').addClass('label-success');
            $(prognode).css("text-decoration", "");
            $(attbtn).attr('disabled',false);
            $(peoplebtn).attr('disabled',false);
        } else {
            $(curbtn).children('i.fa-check-circle').show();
            $(curbtn).children('i.fa-times-circle').hide();
            $(curbtn).removeClass('btn-danger');
            $(curbtn).addClass('btn-success');
            $(countnode).children('span.label').addClass('label-danger');
            $(countnode).children('span.label').removeClass('label-success');
            $(prognode).css("text-decoration", "line-through");
            $(attbtn).attr('disabled',true);
            $(peoplebtn).attr('disabled',true);
        }
    });
}

var progs = $('#progs').DataTable({
    language : {
        url: getLanguage(),
    },
    autoWidth: false,
    ajax : {
        "url" : '/ajax/',
        "type": "POST",
        "data": {
            "action": "proglist"
        }
    },
    "columns": [
        { data: 'pname' },
        { data: 'count' },
        { data: 'active' },
        { data: 'id' },
        { data: 'distprod' },
        { data: null }
    ],
    "columnDefs": [{
        "targets": 5,
        "orderable": false,
        "data": null,
        {% if request.user.is_superuser %}
        "defaultContent": "<div class='btn-group btn-group-sm' role='group'><button type='button' class='btn activate'><i class='fas fa-check-circle' style='display:none;'></i><i class='far fa-times-circle' style='display:none;'></i></button><button class='btn btn-warning edit'><i class='fas fa-edit'></i></button><button class='btn btn-info addpeople'><i class='fas fa-plus'></i></button><button class='btn btn-primary seemore'><i class='fas fa-eye'></i></button><button class='btn btn-success takeatt'><i class='far fa-hand-paper'></i></button></div>"
        {% else %}
        "defaultContent": "<div class='btn-group btn-group-sm' role='group'><button type='button' class='btn activate'><i class='fas fa-check-circle' style='display:none;'></i><i class='far fa-times-circle' style='display:none;'></i></button><button class='btn btn-primary seemore'><i class='fas fa-eye'></i></button><button class='btn btn-success takeatt'><i class='far fa-hand-paper'></i></button></div>"
        {% endif %}
    },
    {
        "render": function ( data, type, row ) {
            return '<span class="label">' + data+'</span>';
        },
        "targets": 1
    },
    {
        "targets": 3,
        "visible": false,
    },
    {
        "targets": 4,
        "visible": false,
    },
    {
        "targets": 2,
        "visible": false,
    }],
    "initComplete": tableCallback
});

$('#progs tbody').on('click', 'button.takeatt', function() {
    var progrow = progs.row($(this).parents('tr')).data();
    document.location.href = '/attendance/' + progrow['id'] + '/';
});

$('#progs tbody').on('click', 'button.addpeople', function() {
    var progrow = progs.row($(this).parents('tr')).data();
    $('#addpeoplemod .modal-title').text(progrow['pname'] + ' için kişi ekleme');
    $('#addpeopleselect').select2({data: null}).trigger('change');
    $('#addpeopleselect').val('');
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: {'action': 'peoplelist', archived: 'notdeactive'},
        success: function(data) {
            if (data.result == 0) {
                var res = data.data;
                var newarr = [] ;
                var selectarr = [];
                for(var i=0;i<res.length;i++) {
                    newarr.push({ id: res[i].id, text: res[i].fname + ' ' + res[i].sname + ' ' + res[i].idnum });
                    if (res[i].progs.indexOf(progrow['id']) != -1) {
                        selectarr.push(res[i].id);
                    }
                }

                $('#addpeopleselect').select2({data: newarr}).trigger('change');
                $('#addpeopleselect').val(selectarr).trigger('change');
                $('#addpeopleprogid').val(progrow['id']);
            }
        }
    });

    $('#addpeoplemod').modal('show');
});

$('#progs tbody').on('click', 'button.seemore', function() {
    var progrow = progs.row($(this).parents('tr')).data();
    document.location.href = '/getattendance/' + progrow['id'] + '/';
    /*
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { 'action': 'getprogpeople', 'prog': progrow['id'] },
        success: function(data) {
            if (data.result == 0) {
                var res = data.data
                $('#progpeoplediv').empty();
                for(var i=0;i<res.length;i++) {
                    $('#progpeoplediv').append(res[i].fullname+' '+res[i].idnum+' '+res[i].mydates+'<br>\n');

                }
                $('#progpeople').modal('show');
            }
        },
        error: function(data) {
            toastr.error('Kisiler getirilemeldi');
        }
    });
    */
});

$('#addpeoplebtn').click(function() {
    var people2add = $('#addpeopleselect').val();
    var myprog = $('#addpeopleprogid').val();
    console.log(people2add);
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { action: 'addpeople2prog', people: people2add, prog: myprog },
        success: function(data){
            if (data.result == 0) {
                document.location.href = '/prog/?msg=kisiler%20eklendi';
            }
        }
    });
});

$('#delprogbtn').click(function() {
    var myprog = $('#delpname').text();
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { 'action': 'delprog', 'prog': myprog },
        success: function(data) {
            if (data.result == 0) {
                toastr.success(data.msg);
                $('#delProg').modal('hide');
                progs.ajax.reload(tableCallback);
            } else {
                toastr.error(data.msg);
            }
        },
        error: function(data) {
                toastr.error(data);
        }
    });
});

$('#progs tbody').on('click', 'button.edit', function() {
    $('#addNew').modal('show');
    var data = progs.row($(this).parents('tr')).data();
    $('#pname').val(data['pname']);
    $('#progid').val(data['id']);
    $('#distprod').val(data['distprod']);
    if (data['active'] == true) {
        $('#pactive').attr('checked', 'checked');
    } else {
        $('#pactive').removeAttr('checked');
    }
});

$('#progs tbody').on('click', 'button.activate', function() {
    var data = progs.row($(this).parents('tr')).data();
    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { 'action': 'toggleprog', 'prog': data['id'] },
        success: function(data) {
            if (data.result == 0) {
                toastr.success(data.msg);
                progs.ajax.reload(tableCallback);
            }
        }
    });
});

$('#saveprog').click(function() {
    var pname = $('#pname').val();
    if ($('#pactive').is(':checked')) {
        var chkbox = true;
    } else {
        var chkbox = false;
    }

    if (pname == null || pname == '') {
        return;
    }

    var distprod = $('#distprod').val();
    var myid = $('#progid').val();

    $.ajax({
        url: '/ajax/',
        type: 'POST',
        data: { 'action': 'addprog', 'id': myid, 'name': pname, 'active': chkbox, 'distprod': distprod },
        success: function(data) {
            if (data.result == 0) {
                $('#addNew').modal('hide');
                toastr.success(data.msg);
                $('#pname').val('');
                $('#pactive').prop('checked', 'checked');
                progs.ajax.reload(tableCallback);
            } else {
                toastr.error(data.msg);
            }
        },
        error: function(data) {
            toastr.error(data);
        }
    });
});

$('#addnewprog').click(function() {
    $('#addNew').modal('show');
    $('#progid').val('');
    $('#pname').val('');
    $('#distprod').val('');
    $('#pactive').attr('checked', 'true');
});
{% if request.GET.q %}
$(document).ready(function() {
    progs.search("{{ request.GET.q }}").draw();
});
{% endif %}
</script>
{% endblock %}
