{% extends 'main.html' %}
{% load ngo_tags %}

{% block title %}Raporlar{% endblock %}

{% block innerpages %}
<p></p>
<div class="row">
    <div class="col-12">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <h4>Program raporu</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/ajaxrpt/">
                {% csrf_token %}
                <div class="form-group">
                    <input type='hidden' value='distreport' name="action">
                    <label for='prog'>Program</label>
                    <select class='form-control' name="prog"><option value="0">Seçiniz</option>{% for i in progs %}<option value="{{i.id}}">{{i.pname}}</option>{% endfor %}</select> 
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" >Excel <i class="far fa-file-excel"></i></button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Yoklama raporu</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/ajaxrpt/">
                {% csrf_token %}
                <input type="hidden" name="action" value="attrpt">
                <div class="form-group">
                    <label for='progname2'>Program </label><select class="form-control" name="prog" id="progname2"><option value="0">Seçiniz</option>{% for i in progs %}<option value="{{i.id}}">{{i.pname}}</option>{% endfor %}</select>
                    <br>
                    <div class="input-group input-daterange">
                        <input type="text" class="form-control" id="startd" name="startd" value="{% lastweek "%Y-%m-%d" %}">
                        <div class="input-group-addon">-</div>
                        <input type="text" class="form-control" id="endd" name="endd" value="{% now "Y-m-d" %}">
                    </div>
                </div>
                <div class"form-group">
                    <select class="form-control" name="deactive">
                        <option value='A'>Aktif</option>
                        <option value='D'>Deaktif(arşivlenmiş)</option>
                        <option value="W">Beklemede</option>
                        <option value="H">Askıda</option>
                        <option value='T'>Tüm</option>
                    </select>
                    <label>sığınmacıları al</label>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" id="attdrpt">Excel <i class="far fa-file-excel"></i></button>
                </form>
                <button class="btn btn-success ml-1 btn-sm" id="showatt">Online </button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Ebeveyn raporu</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/ajaxrpt/">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="action" value="childage">
                    <label for="childage">Çocukları şu yaştan küçük olan kişiler</label>
                    <input type="number" class="form-control" min="0" max="17" id="childage" name="childage" value="3">
                </div>
                <div class"form-group">
                    <select class="form-control" name="deactive">
                        <option value='A'>Aktif</option>
                        <option value='D'>Deaktif(arşivlenmiş)</option>
                        <option value="W">Beklemede</option>
                        <option value="H">Askıda</option>
                        <option value='T'>Tüm</option>
                    </select>
                    <label class="">sığınmacıları al</label>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" id="childagerpt">Excel <i class="far fa-file-excel"></i></button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-12">
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <h4>Devam raporu</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/ajaxrpt">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="contrpt">
                    <div class="form-group">
                        <label for='progname3'>Program </label>
                        <select class="form-control" name="prog" id="progname3">
                            <option value="0">Seçiniz</option>
                            {% for i in progs %}<option value="{{i.id}}">{{i.pname}}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contvalue">Son <b id="contrptval"></b> yoklamaya üstüste katılmayan kişiler</label>
                        <input type="number" class="form-control" min="0" max="17" id="contvalue" name="childage" value="4">
                    </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" id="contrpt">Excel <i class="far fa-file-excel"></i></button>
                </form>
                <button class="btn btn-success ml-1 btn-sm" id="showcontrpt">Online </button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Eksik belge raporu</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/ajaxrpt/">
                {% csrf_token %}
                <div class"form-group">
                    <input type="hidden" name="action" value="docrpt">
                    <select class="form-control" name="deactive" id="docsdeactive">
                        <option value='A'>Aktif</option>
                        <option value='D'>Deaktif(arşivlenmiş)</option>
                        <option value="W">Beklemede</option>
                        <option value="H">Askıda</option>
                        <option value='T'>Tüm</option>
                    </select>
                    <label class="">sığınmacıları al</label>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" id="docrpt">Excel <i class="far fa-file-excel"></i></button>
                </form>
                <button class="btn btn-success btn-sm" id="docrptonline">Online </i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Yaş Raporu</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="/ajaxrpt/">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="agerpt">
                    <input type="hidden" name="agerptlimit" id="agerptlimit">
                    <div class="form-group">
                        <label for="personage">Şu yaştan <b id="agerpttxt"></b> olan kişiler</label>
                        <input type="number" class="form-control" min="0" max="120" id="personage" name="personage" value="18">
                    </div>
                    <span class="switch switch-sm">
                        <label for="agerptsw">Küçük</label>
                        <input type="checkbox" class="switch" id="agerptsw">
                        <label for="agerptsw">Büyük</label>
                    </span>
                    <div class"form-group">
                        <select class="form-control" name="deactive" id="agerptdeactive">
                            <option value='A'>Aktif</option>
                            <option value='D'>Deaktif(arşivlenmiş)</option>
                            <option value="W">Beklemede</option>
                            <option value="H">Askıda</option>
                            <option value='T'>Tüm</option>
                        </select>
                        <label class="">sığınmacıları al</label>
                    </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success btn-sm" id="agerpt">Excel <i class="far fa-file-excel"></i></button>
                </form>
                <button class="btn btn-success ml-1 btn-sm" id="agerptonline">Online </button>
            </div>
        </div>
    </div>
</div>
<script>
function postReport(data) {
    'use strict';
    var form;
    form = $('<form />', {
        action: '/viewreports/',
        method: 'post',
        style: 'display: none;'
    });

    $('<input />', {
        type: 'hidden',
        name: 'csrfmiddlewaretoken',
        value: '{{csrf_token}}'
    }).appendTo(form);

    if (typeof data !== 'undefined' && data !== null) {
        $.each(data, function(name, value) {
            $('<input />', {
                type: 'hidden',
                name: name,
                value: value
            }).appendTo(form);
        });
    }

    form.appendTo('body').submit();
}

$(document).ready(function() {

    $('input.switch').change(function() {
        if ($(this).prop('checked') == '') {
            $('#agerpttxt').text('küçük');
            $('#agerptlimit').val(0);
        } else {
            $('#agerpttxt').text('büyük');
            $('#agerptlimit').val(1);
        }
    });

    $('#agerpttxt').text('küçük');
    $('#agerptlimit').val(0);

    var contrptval = $('#contvalue').val();
    $('#contrptval').text(contrptval);

    $('#contvalue').on('change', function() {
        var contrptval = $('#contvalue').val();
        $('#contrptval').text(contrptval);
    });

    $('#agerptonline').click(function() {
        var pstatus = $('#agerptdeactive').val();
        var agerptlimit = $('#agerptlimit').val();
        var age = $('#personage').val();
        postReport({"type": "agerpt", "deactive": pstatus, "age": age, "agerptlimit": agerptlimit});
    });

    $('#docrptonline').click(function() {
        pstatus = $('#docsdeactive').val();
        postReport({"type": "incompletedocs", "deactive": pstatus});
    });

    $('#showcontrpt').click(function() {
        var contrptval = $('#contvalue').val();
        var progid = $('#progname3').val();
        if(progid == 0) {
            toastr.error('Lütfen bir program seçiniz');
            return;
        }

        postReport({"type": "contrpt", "prog": progid, "contrptval": contrptval});
    });

    $('#showatt').click(function() {
        var prog = $('#progname2').val();
        var startd = $('#startd').val();
        var endd = $('#endd').val();

        if (prog == 0) {
            toastr.error('Lütfen bir program seçiniz');
            return;
        }
        document.location.href = '/getattendance/' + prog + '/?start=' + startd + '&end=' + endd;
    });

    $('#showcont').click(function() {
        var prog = $('#progname3').val();
        var cont = $('#contvalue').val();
        if (prog == 0) {
            toastr.error('Lütfen bir program seçiniz');
            return;
        }
        document.location.href = '/getattendance/' + prog + '/?contrpt=true&cont=' + cont;
    });
    $('.input-daterange input').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: 'true',
        endDate: '0d',
        todayHighlight: 'true',
    });
});
</script>
{% endblock %}
