{% extends 'main.html' %}
{% block title %}Yoklama sayfasi{% endblock %}

{% block innerpages %}
<h3>{{myprog.pname}} için yoklama durumu</h3>
<div><span class="font-weight-bold">Semboller:</span> <i class="fas fa-check text-success"></i> Var <i class="fas fa-times text-danger"></i> Yok <i class="fas fa-suitcase text-primary"></i> Programda henüz yok/Veri yok</div>

<table class="table" id="atttable">
    <thead>
        <tr><th>Ad soyad</th><th>Kimlik no</th>{% for i in mydates %}<th><div class="small text-nowrap">{{i}}</div></th>{% endfor %}</tr>
    </thead>
    <tbody>
        {% for i in myret %}
        <tr><td>{{i.fullname}}</td><td>{{i.idnum}}</td>{% for j in i.mydates %}<td>{% ifequal j 't' %}<i class="fas fa-check text-success"></i>{% else %}{% ifequal j 'f' %}<i class="fas fa-times text-danger"></i>{% else %}<i class="fas fa-suitcase text-primary"></i>{% endifequal %}{% endifequal %}</td>{% endfor %}</tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
