{% extends 'main.html' %}

{% block title %}Person Info{% endblock %}
{% block innerpages %}
<div class="row">
    <div class="col-md-5 ml-auto">
        <p class=" text-info">Güncelleme: {{person.updated|date:"Y-m-d H:i:s"}} </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 mx-auto toppad" id="printarea">
        {% if person.archived == 'A' %}
        <div class="card card-info">
        {% else %}
            {% if person.archived == 'D' %}
        <div class="card card-danger">
            {% else %}
                {% if person.archived == 'W' %}
        <div class="card card-success">
                {% else %}
                    {% if person.archived == 'H' %}
        <div class="card card-warning">
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
            <div class="card-header">
                <h3 class="card-title">{{person.fname|title}} {{person.sname|title}} {% if person.archived == 'D' %}(Deaktif){% else %}{% if person.archived == 'W' %}(Beklemede){% else %}{% if person.archived == 'H' %}(Askida){% endif %}{% endif %}{% endif %}</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Geldiği ülke:</td>
                        <td><a href="https://www.google.com/maps/search/?api=1&zoom=1&query={{person.country}}" target=_blank>{{person.country}}</a></td>
                      </tr>
                      <tr>
                          <td>Kimlik no:</td>
                        <td>{{person.idnum}}</td>
                      </tr>
                      <tr>
                          <td>Yaş</td>
                          <td>{{person.age}}</td>
                      </tr>
                      <tr>
                        <td>Doğum tarihi:</td>
                        <td>{{person.birthdate|date:"Y-m-d"}}</td>
                      </tr>
                    <tr>
                        <td>Cinsiyet:</td>
                        <td>{{person.gender}}</td>
                      </tr>
                    <tr>
                        <td>Kayıt tarihi:</td>
                        <td>{{person.regdate|date:"Y-m-d"}}</td>
                    </tr>
                    <tr>
                        <td>Eğitim durumu:</td>
                        <td>{{person.get_education_display}}</td>
                    </tr>
                        <tr>
                        <td>Ev adresi:</td>
                        <td>{{person.address}}</td>
                      </tr>
                      <tr>
                        <td>Telefon no:</td>
                        <td>{{person.phonenum}}</td>
                      </tr>
                      {% if person.children.all.count > 0 %}
                      <tr>
                          <td>Çocukları:</td>
                          <td>
                              {% for i in person.children.all %}
                              <a href="/viewperson/{{i.id}}/" target="_blank">{{i}}</a><br>
                              {% endfor %}
                          </td>
                      </tr>
                      {% endif %}
                      {% if parents %}
                      <tr>
                          <td>Ebeveynleri:</td>
                          <td>
                              {% for i in parents %}
                              <a href="/viewperson/{{i.id}}/" target="_blank">{{i}}</a><br>
                              {% endfor %}
                          </td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td>Notlar</td>
                          <td>{{person.notes}}</td>
                      </tr>
                      {% if person.olddata != ''%}
                      <tr>
                          <td>Eski Bilgiler</td>
                          <td>{{person.olddata}}</td>
                      </tr>
                      {% endif %}
                      <tr>
                          <td>Türkiye'ye varış tarihi</td>
                          <td>{{person.arrivaldate}}</td>
                      </tr>
                      <tr>
                          <td>Üye olduğu programlar</td>
                          <td>{% for i in person.programmes.all %}{{i}}<br>{% endfor %}</td>
                      </tr>
                      <tr class="no-print">
                          <td>Documents</td>
                          <td><button class="btn btn-sm {% if person.docscomplete %}btn-success">Tamam{% else %}btn-danger">Tamam Degil{% endif %} 
                                  <i class="fas fa-{% if person.docscomplete %}check{% else %}times{% endif %}"></i>
                              </button>
                          </td>
                          </tr>
                      </tbody>
                  </table>
                  <!--
                  </div>
                  -->
                  <button class="btn btn-primary no-print" id="showdocs">Sığınmacı belgeleri</button>
                </div>
              </div>
            </div>
             <div class="card-footer no-print">
                <button data-original-title="Print this page" id="print" type="button" class="btn btn-primary">Yazdır <i class="fa fa-print"></i></button>
                <span class="float-right">
                    <a href="/addperson/{{person.id}}/" role="button" class="btn btn-warning">Düzenle <i class="fas fa-edit"></i></a>
                    <a id="toggleuser" role="button" class="btn btn-danger"><i class="far fa-times-circle"></i><i class="fas fa-check-circle"></i></a>
                </span>
            </div>
            
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
            {% if person.archived == 'A' %}
                $('#toggleuser').children('i.fa-check-circle').hide();
                $('#toggleuser').children('i.fas-times-circle').show();
                $('#toggleuser').removeClass('btn-success');
                $('#toggleuser').addClass('btn-danger');
                /*
                $('.card-header').removeClass('bg-danger');
                $('.card-header').addClass('bg-info');
                */
            {% else %}
                $('#toggleuser').children('i.fa-check-circle').show();
                $('#toggleuser').children('i.fas-times-circle').hide();
                $('#toggleuser').removeClass('btn-danger');
                $('#toggleuser').addClass('btn-success');
                /*
                $('.card-header').addClass('bg-danger');
                $('.card-header').removeClass('bg-info');
                */
            {% endif %}
        });

        $('#showdocs').click(function() {
            document.location.href = '/docs/{{person.id}}/';
        });

        $('#toggleuser').click(function() {
            if ($(this).hasClass('btn-danger')) {
                var myarchive = 1;
                var mymsg = ' deactivated';
            } else {
                var myarchive = 0;
                var mymsg = ' activated';
            }

            $.ajax({
                "url" : "/ajax/",
                "type": "POST",
                "data": { "action": "personarchive", "id": {{person.id}}, "archive": myarchive },
                "success": function(data) {
                    if (data.result == 0) {
                        toastr.success("{{person.fullname}} " + mymsg);
                        if (myarchive == 1) {
                            $('#toggleuser').children('i.fa-check-circle').show();
                            $('#toggleuser').children('i.fa-times-circle').hide();
                            $('#toggleuser').removeClass('btn-danger');
                            $('#toggleuser').addClass('btn-success');
                            $('.card-title').text("{{person.fname|title}} {{person.sname|title}} (Deaktif)");
                            $('.card-header').addClass('bg-danger');
                            $('.card-header').removeClass('bg-info');
                        } else {
                            $('#toggleuser').children('i.fa-check-circle').hide();
                            $('#toggleuser').children('i.fa-times-circle').show();
                            $('#toggleuser').removeClass('btn-success');
                            $('#toggleuser').addClass('btn-danger');
                            $('.card-title').text("{{person.fname|title}} {{person.sname|title}}");
                            $('.card-header').removeClass('bg-danger');
                            $('.card-header').addClass('bg-info');
                         }

                    } else {
                        toastr.error('Error!');
                    }
                }
            });
        });
        $('#print').click(function() {
            $('#printarea').print();
        });
      </script>
{% endblock %}
