{% extends 'main.html' %}

{% block title %}Online raporlar{% endblock %}

{% block innerpages %}
<table class="table" id="ptable">
{% if type == 'contrpt' %}
    <thead><tr><th>Kisi</th><th>Kimlik No</th><th>Devamsizlik</th></tr></thead>
    <tbody>
        {% for i in object %}
        <tr>
            <td>{{i.0}}</td>
            <td>{{i.1}}</td>
            <td class="d-none">{{i.2}}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endif %}
{% if type == 'incompletedocs' %}
    <thead><tr><th>Kisi</th><th>Kimlik No</th></tr></thead>
    <tbody>
        {% for i in object %}
        <tr><td>{{i.fullname}}</td><td>{{i.idnum}}</td></tr>
        {% endfor %}
    </tbody>
{% endif %}
{% if type == 'agerpt' %}
    <thead><tr><th>Kisi</th><th>Kimlik No</th><th>Yas</th></tr></thead>
    <tbody>
        {% for i in object %}
        <tr><td>{{i.fullname}}</td><td>{{i.idnum}}</td><td>{{i.age}}</td></tr>
        {% endfor %}
    </tbody>
{% endif %}
</table>
<script>
</script>
{% endblock %}
